* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start Preload */

.body_hide {
	opacity: 0;
	transition: 3s opacity ease-in-out;
}
.body_visible {
	opacity: 1;

}

/* End Preload */

.container {
    padding: 20px;
}

body {
    background-color: #000;
    color: aqua;
}

.footer__inner-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Start Sound */

.soundbutton {
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: 0.8s ease;

}

.soundbutton.paused {
    opacity: 0.25;

}

/* End Sound */
